{% extends 'layout.html.twig' %}

{% block content %}
<div>
    <img class="resize"
        src="https://3ncridad6ai1jg5mt30vexk1-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/GettyImages-933072162-2500x1405.jpg"
        alt="">
</div>

{% endblock %}