{% extends "layout.html.twig" %}
{% block title %}
    <p>
        titre
    </p>
{% endblock %}
{% block banner %}
    {% include 'Block/banner.html.twig' %}
{% endblock %}
{% block test %}
    {% include 'Egg/userEggs.html.twig' %}
{% endblock %}
{% block tableau %}
    {% include 'Block/table.html.twig' %}
{% endblock %}
