<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link
        href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link
        href="/assets/css/mdb.min.css" rel="stylesheet">
        <!-- Our CSS -->
        <link href="/assets/css/style.css" rel="stylesheet">
        {% block stylesheet %}{% endblock %}
        <link href="/assets/images/favicon.png" rel="icon">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul>
                    <li><a href="/User/logOut">logout</a></li>
                    <li><a href="/Egg/showUserEggs">inventaire</a></li>
                </ul>
            </nav>
        </header>
        {% if connected == true %}
            <button class="btn btn-info btn-block" onclick="window.location.href='logout';">Log out</button>
        {% endif %}
        {% block banner %}{% endblock %}
        {% block test %}{% endblock %}
        {% block tableau %}{% endblock %}
        <div
            class="container row">
            <!-- Footer -->
            <footer
                class="page-footer font-small cyan darken-3">
                <!-- Footer Elements -->
                <div
                    class="container">
                    <!-- Grid row-->
                    <div
                        class="row">
                        <!-- Grid column -->
                        <div class="col-md-12 py-5">
                            <div
                                class="mb-5 flex-center">
                                <!-- Facebook -->
                                <a class="fb-ic">
                                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                                </a>
                                <!-- Twitter -->
                                <a class="tw-ic">
                                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                                </a>
                                <!-- Google +-->
                                <a class="gplus-ic">
                                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                                </a>
                                <!--Linkedin -->
                                <a class="li-ic">
                                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                                </a>
                                <!--Instagram-->
                                <a class="ins-ic">
                                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                                </a>
                                <!--Pinterest-->
                                <a class="pin-ic">
                                    <i class="fab fa-pinterest fa-lg white-text fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row-->
                </div>
                <!-- Footer Elements -->
            </footer>
            <!-- Footer -->
        </div>
        <!-- Footer -->
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*
        <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <!-- Bootstrap tooltips -->
        <script src="/assets/js/popper.min.js" type="text/javascript"></script>
        <!-- Bootstrap core JavaScript -->
        <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- MDB core JavaScript -->
        <script src="/assets/js/mdb.js" type="text/javascript"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
