{% extends 'layout.html.twig' %}

{% block test %}
    {% for egg in eggs %}
        {{ egg.rarity }}
        {% if egg.rarity == "junk" %}
            <p>je suis junk</p>
        {% endif %}
    {% endfor %}
{% endblock %}
