{% extends 'layout.html.twig' %}

{% block content %}
    {% for egg in egg %}
        {% if egg.rarity == "junk" %}
            <p>je suis junk</p>
        {% endif %}
    {% endfor %}
{% endblock %}
