<form ACTION="/user/add" method="POST">
		<div>
			<label  for="firstname">Nom</label><br/>
			<input  type="text"  id="firstname" name="firstname">
		</div>
		<div>
			<label  for="Lastname">Prénom</label><br/>
			<input  type="text"  id="lastname" name="lastname">
		</div>
		<div>
			<label  for="email">Email</label><br/>
			<input  type="email"  id="email" name="email">
		</div>
		<div>
			<label  for="status">user status:</label><br/>
			<input  type="number"  id="status" name="status_ID">
		</div>
		<div>
			<label  for="image">Lien image</label><br/>
			<input  type="text"  id="image" name="image">
		</div>
		<div>
			<label  for="password">Mot de passe</label><br/>
			<input  type="text"  id="password" name="password">
		</div>
		<div>
			<input type="submit" value="ajouter">
			<a href="/user/index">Back</a>
		</div>
</form>